@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
 }

 /*  */
 body {
   font-family: 'SF Pro Display', sans-serif; 
}

/*  */
#drawer-swipe {
   background: linear-gradient(180deg, rgba(46, 51, 90, 0.6) 0%, rgba(28, 27, 51, 0.6) 100%);
   box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
}


 /* blink for local time */
 .blink {
    animation: blink-animation 1s steps(1, end) infinite;
 }
 @keyframes blink-animation {
    50% {
       opacity: 0;
  
    }
 }

/* for content expand */
 .drawer-expanded {
    height: 500px;
 }

/* btn-add-weather */
#btn-add-weather {
   background: linear-gradient(
     to bottom,
     rgba(245, 245, 249, 1) 0%,  /* #F5F5F9 with 100% opacity */
     rgba(218, 223, 231, 0.7) 100%  /* #DADFE7 with 70% opacity */
   );
 }
 
 /* background-sunrise */
.sunrise {
  background: linear-gradient(to top, #82a0bc 0%, #aebebe 50%, #e0ceb0 80%, #ffc19c 100%);
}
/* background-day */
.day {
 background: linear-gradient(#90dffe 0%, #38a3d1 100%);
}

/* background-sunset */
.sunset {
   background: linear-gradient(to top, #10070c 0%, #2e4557 40%, #91aba8 80%, #ddd8a1 100%);
}

/* background-night */
.night {
  background: linear-gradient(#140d15 0%, #212e3f 100%);
}
  